.root {
    -fx-alignment: center;
    -fx-padding: 20;
    -fx-background-image: url("file:/C:/Users/ACG/OneDrive/Desktop/JavaFX/src/application/dashboard.gif");
	-fx-background-size: cover;
	-fx-background-position: center center;
	-fx-background-repeat: no-repeat;
}
.email-label {
    -fx-font-weight: bold;
    -fx-font-size: 14px;
    -fx-text-fill: white;  /* Set the text color to white */
}

.password-label {
    -fx-font-weight: bold;
    -fx-font-size: 14px;
    -fx-text-fill: white;  /* Set the text color to white */
}


.text-field, .password-field {
    -fx-padding: 10;
    -fx-font-size: 14px;
    -fx-background-color: #ffffff;
    -fx-border-color: #ccc;
    -fx-border-radius: 5;
    -fx-pref-width: 200px;
}

.button {
	-fx-padding: 20;            /* Increase padding for larger buttons */
	-fx-font-size: 20px;        /* Increase font size */
	-fx-background-color: #4CAF50;
	-fx-text-fill: white;
	-fx-border-radius: 10;      /* Rounded corners */
	-fx-pref-width: 700px;      /* Increase button width */
	-fx-pref-height: 60px;      /* Increase button height */
}

.inventoryButton{
	
}

.button:hover {
    -fx-background-color: #45a049;
}

